extends layout

block content
  header
  	h1 Choose a Portfolio
  	select(id='list' onchange='gallery.displayPortfolio()')
  		option(value='' disabled selected hidden) Choose a Page
  div(id='display')
